<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1">
      <div class="basic-info">
        <div>
          <%= image_tag @pet.photo, class: 'photo' %>
        </div>
        <div class="details">
          <h3><%= @pet.name %>'s Details</h3>

          <ul>
            <li>
              <p><span class="txt-bold">Species:</span> <%= @pet.species %></p>
            </li>
            <li>
              <p><span class="txt-bold">Gender:</span> <%= @pet.gender %></p>
            </li>
            <li>
              <p><span class="txt-bold">Age:</span> 3 years old</p>
            </li>
            <li>
              <p><span class="txt-bold">Food:</span> Kibbles 'n bits twice a day</p>
            </li>
            <li>
              <p><span class="txt-bold">Exercise:</span> Not necessary</p>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
      <div class="basic-text">
        <h2><%= @pet.name %></h2>
        <h3><%= @pet.title %></h3>
        <hr>
        <p>Where: <%= @pet.address %></p>
        <p>Cost: <%= @pet.price %>€/day</p>
      </div>

<% if current_user %>
     <% if @pet.user_id != current_user.id %>
        <div class="reserve">
        <%= link_to "Pet me!", pet_bookings_path(@pet), method: 'post', class: "navbar-wagon-item navbar-wagon-button btn"%>
        </div>
      <% end %>
 <% else %>
    <div class="reserve">
    <%= link_to "Pet me!", pet_bookings_path(@pet), method: 'post', class: "navbar-wagon-item navbar-wagon-button btn"%>
    </div>
<%end%>


<% if current_user %>
    <% if @pet.user_id == current_user.id %>
    <%= link_to "Back", owner_pets_path %>
    <% end %>
 <% else %>
    <br>
    <%= link_to "Back to search results", pets_path, class: "Link" %>
<%end%>

  </div>
</div>
