
<div class="wrapper">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="container-fluid">
          <div class="row">
            <% @pets.each do |pet| %>
              <div class="col-xs-12 col-sm-4">
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= pet.picture_url %>);">
                  <div class="card-category">
                    <%= pet.species.capitalize %></div>
                  <div class="card-description">
                    <h2><%= pet.name %></h2>
                    <p><%= pet.title %></p>
                  </div>
                  <div class="card-user">
                    <img class="avatar" src="<%= "http://placehold.it/100x100" %>">
                  </div>
                  <div class="card-price">
                    <p><%= pet.price %>€/day</p>

                  </div>
                  <%= link_to "", pet_path(pet), class: "card-link" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


