<div class="wrapper">

  <div class= "title">
   <h1> Your pets </h1>
  </div>

  <% @pets.each do |pet| %>

    <div class="pet">

      <div class="pet-photo">
        <%= cl_image_tag pet.photo %>
      </div>

      <div class="pet-body">
        <h2> <%= pet.name %> </h2>
        <p> <%= pet.title%> </p>
        <p> <%= pet.price%>€ / day </p>
        <p> 3 reviews </p>
      </div>

      <ul class="list-unstyled pet-actions">
        <li><%= link_to "View", owner_pet_path(pet) %></li>
        <li><%= link_to "Edit", edit_owner_pet_path(pet) %></li>
        <li><%=link_to "Delete", owner_pet_path(pet), method: :delete, data: { confirm: "Are you sure you want to delete #{pet.name} ?" } %> </li>
      </ul>

    </div>

  <% end %>
</div>





