<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path('backgroundpet.png') %>');">
  <div class="banner-content">
    <h1>Welcome to Pet My Pet!</h1>
    <p>Rent wonderful dogs near where you live</p>
    <%= link_to "Try the experience", root_path, class: "btn btn-primary btn-lg", id: "try" %>
  </div>

  <div class="search">
    <div class="flex-item">
      <%= simple_form_for @pet, url: pets_path, method: :get do |p| %>
        <%= p.input :address %>
        <%= p.input :species, collection: Pet::SPECIES %>
        <%= p.button :submit %>
      <% end %>
    </div>
  </div>
